body {
    background:  url("../img/pattern.jpg") repeat;
}
body,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'humnst777_cn_btregular';
}
.container * {
    transition: all 0.2s ease 0s;
}
.modal {
    overflow: auto;
}
.navbar-default:after{content:'';display:block;height:5px;margin: 0 -21px -1px;left:0;right:0;bottom:0;line-height:1;z-index:1;background-image:-webkit-linear-gradient(left, red 2.32558%, #00b2d9 2.32558%, #00b2d9 4.65116%, #f7941e 4.65116%, #f7941e 6.97674%, #73b84d 6.97674%, #73b84d 9.30233%, #e8d41a 9.30233%, #e8d41a 11.62791%, #4d07a8 11.62791%, #4d07a8 13.95349%, #7ba6ad 13.95349%, #7ba6ad 16.27907%, #c0c037 16.27907%, #c0c037 18.60465%, #8f4b21 18.60465%, #8f4b21 20.93023%, #898fa6 20.93023%, #898fa6 23.25581%, #de0057 23.25581%, #de0057 25.5814%, #9b5260 25.5814%, #9b5260 27.90698%, #3566b9 27.90698%, #3566b9 30.23256%, #193942 30.23256%, #193942 32.55814%, #76163e 32.55814%, #76163e 34.88372%, #cd5d28 34.88372%, #cd5d28 37.2093%, #798f5a 37.2093%, #798f5a 39.53488%, #1e315f 39.53488%, #1e315f 41.86047%, #c1bc87 41.86047%, #c1bc87 44.18605%, #ee3c2d 44.18605%, #ee3c2d 46.51163%, #c1bc87 46.51163%, #c1bc87 48.83721%, #2c783b 48.83721%, #2c783b 51.16279%, #5d4284 51.16279%, #5d4284 53.48837%, #5cf500 53.48837%, #5cf500 55.81395%, #223e98 55.81395%, #223e98 58.13953%, #3ca9b7 58.13953%, #3ca9b7 60.46512%, #7ad1ee 60.46512%, #7ad1ee 62.7907%, #d9e022 62.7907%, #d9e022 65.11628%, #ffd316 65.11628%, #ffd316 67.44186%, #8c222f 67.44186%, #8c222f 69.76744%, #e6d9ad 69.76744%, #e6d9ad 72.09302%, #faa819 72.09302%, #faa819 74.4186%, #659d92 74.4186%, #659d92 76.74419%, #213e74 76.74419%, #213e74 79.06977%, #e5a735 79.06977%, #e5a735 81.39535%, #3e96d2 81.39535%, #3e96d2 83.72093%, #42af89 83.72093%, #42af89 86.04651%, #eb4548 86.04651%, #eb4548 88.37209%, #451834 88.37209%, #451834 90.69767%, #c1cf82 90.69767%, #c1cf82 93.02326%, #51bbb7 93.02326%, #51bbb7 95.34884%, #4683b0 95.34884%, #4683b0 97.67442%, #cc5727 97.67442%, #cc5727 100%);background-image:-moz-linear-gradient(left, red 2.32558%, #00b2d9 2.32558%, #00b2d9 4.65116%, #f7941e 4.65116%, #f7941e 6.97674%, #73b84d 6.97674%, #73b84d 9.30233%, #e8d41a 9.30233%, #e8d41a 11.62791%, #4d07a8 11.62791%, #4d07a8 13.95349%, #7ba6ad 13.95349%, #7ba6ad 16.27907%, #c0c037 16.27907%, #c0c037 18.60465%, #8f4b21 18.60465%, #8f4b21 20.93023%, #898fa6 20.93023%, #898fa6 23.25581%, #de0057 23.25581%, #de0057 25.5814%, #9b5260 25.5814%, #9b5260 27.90698%, #3566b9 27.90698%, #3566b9 30.23256%, #193942 30.23256%, #193942 32.55814%, #76163e 32.55814%, #76163e 34.88372%, #cd5d28 34.88372%, #cd5d28 37.2093%, #798f5a 37.2093%, #798f5a 39.53488%, #1e315f 39.53488%, #1e315f 41.86047%, #c1bc87 41.86047%, #c1bc87 44.18605%, #ee3c2d 44.18605%, #ee3c2d 46.51163%, #c1bc87 46.51163%, #c1bc87 48.83721%, #2c783b 48.83721%, #2c783b 51.16279%, #5d4284 51.16279%, #5d4284 53.48837%, #5cf500 53.48837%, #5cf500 55.81395%, #223e98 55.81395%, #223e98 58.13953%, #3ca9b7 58.13953%, #3ca9b7 60.46512%, #7ad1ee 60.46512%, #7ad1ee 62.7907%, #d9e022 62.7907%, #d9e022 65.11628%, #ffd316 65.11628%, #ffd316 67.44186%, #8c222f 67.44186%, #8c222f 69.76744%, #e6d9ad 69.76744%, #e6d9ad 72.09302%, #faa819 72.09302%, #faa819 74.4186%, #659d92 74.4186%, #659d92 76.74419%, #213e74 76.74419%, #213e74 79.06977%, #e5a735 79.06977%, #e5a735 81.39535%, #3e96d2 81.39535%, #3e96d2 83.72093%, #42af89 83.72093%, #42af89 86.04651%, #eb4548 86.04651%, #eb4548 88.37209%, #451834 88.37209%, #451834 90.69767%, #c1cf82 90.69767%, #c1cf82 93.02326%, #51bbb7 93.02326%, #51bbb7 95.34884%, #4683b0 95.34884%, #4683b0 97.67442%, #cc5727 97.67442%, #cc5727 100%);background-image:-ms-linear-gradient(left, red 2.32558%, #00b2d9 2.32558%, #00b2d9 4.65116%, #f7941e 4.65116%, #f7941e 6.97674%, #73b84d 6.97674%, #73b84d 9.30233%, #e8d41a 9.30233%, #e8d41a 11.62791%, #4d07a8 11.62791%, #4d07a8 13.95349%, #7ba6ad 13.95349%, #7ba6ad 16.27907%, #c0c037 16.27907%, #c0c037 18.60465%, #8f4b21 18.60465%, #8f4b21 20.93023%, #898fa6 20.93023%, #898fa6 23.25581%, #de0057 23.25581%, #de0057 25.5814%, #9b5260 25.5814%, #9b5260 27.90698%, #3566b9 27.90698%, #3566b9 30.23256%, #193942 30.23256%, #193942 32.55814%, #76163e 32.55814%, #76163e 34.88372%, #cd5d28 34.88372%, #cd5d28 37.2093%, #798f5a 37.2093%, #798f5a 39.53488%, #1e315f 39.53488%, #1e315f 41.86047%, #c1bc87 41.86047%, #c1bc87 44.18605%, #ee3c2d 44.18605%, #ee3c2d 46.51163%, #c1bc87 46.51163%, #c1bc87 48.83721%, #2c783b 48.83721%, #2c783b 51.16279%, #5d4284 51.16279%, #5d4284 53.48837%, #5cf500 53.48837%, #5cf500 55.81395%, #223e98 55.81395%, #223e98 58.13953%, #3ca9b7 58.13953%, #3ca9b7 60.46512%, #7ad1ee 60.46512%, #7ad1ee 62.7907%, #d9e022 62.7907%, #d9e022 65.11628%, #ffd316 65.11628%, #ffd316 67.44186%, #8c222f 67.44186%, #8c222f 69.76744%, #e6d9ad 69.76744%, #e6d9ad 72.09302%, #faa819 72.09302%, #faa819 74.4186%, #659d92 74.4186%, #659d92 76.74419%, #213e74 76.74419%, #213e74 79.06977%, #e5a735 79.06977%, #e5a735 81.39535%, #3e96d2 81.39535%, #3e96d2 83.72093%, #42af89 83.72093%, #42af89 86.04651%, #eb4548 86.04651%, #eb4548 88.37209%, #451834 88.37209%, #451834 90.69767%, #c1cf82 90.69767%, #c1cf82 93.02326%, #51bbb7 93.02326%, #51bbb7 95.34884%, #4683b0 95.34884%, #4683b0 97.67442%, #cc5727 97.67442%, #cc5727 100%);background-image:linear-gradient(left, red 2.32558%, #00b2d9 2.32558%, #00b2d9 4.65116%, #f7941e 4.65116%, #f7941e 6.97674%, #73b84d 6.97674%, #73b84d 9.30233%, #e8d41a 9.30233%, #e8d41a 11.62791%, #4d07a8 11.62791%, #4d07a8 13.95349%, #7ba6ad 13.95349%, #7ba6ad 16.27907%, #c0c037 16.27907%, #c0c037 18.60465%, #8f4b21 18.60465%, #8f4b21 20.93023%, #898fa6 20.93023%, #898fa6 23.25581%, #de0057 23.25581%, #de0057 25.5814%, #9b5260 25.5814%, #9b5260 27.90698%, #3566b9 27.90698%, #3566b9 30.23256%, #193942 30.23256%, #193942 32.55814%, #76163e 32.55814%, #76163e 34.88372%, #cd5d28 34.88372%, #cd5d28 37.2093%, #798f5a 37.2093%, #798f5a 39.53488%, #1e315f 39.53488%, #1e315f 41.86047%, #c1bc87 41.86047%, #c1bc87 44.18605%, #ee3c2d 44.18605%, #ee3c2d 46.51163%, #c1bc87 46.51163%, #c1bc87 48.83721%, #2c783b 48.83721%, #2c783b 51.16279%, #5d4284 51.16279%, #5d4284 53.48837%, #5cf500 53.48837%, #5cf500 55.81395%, #223e98 55.81395%, #223e98 58.13953%, #3ca9b7 58.13953%, #3ca9b7 60.46512%, #7ad1ee 60.46512%, #7ad1ee 62.7907%, #d9e022 62.7907%, #d9e022 65.11628%, #ffd316 65.11628%, #ffd316 67.44186%, #8c222f 67.44186%, #8c222f 69.76744%, #e6d9ad 69.76744%, #e6d9ad 72.09302%, #faa819 72.09302%, #faa819 74.4186%, #659d92 74.4186%, #659d92 76.74419%, #213e74 76.74419%, #213e74 79.06977%, #e5a735 79.06977%, #e5a735 81.39535%, #3e96d2 81.39535%, #3e96d2 83.72093%, #42af89 83.72093%, #42af89 86.04651%, #eb4548 86.04651%, #eb4548 88.37209%, #451834 88.37209%, #451834 90.69767%, #c1cf82 90.69767%, #c1cf82 93.02326%, #51bbb7 93.02326%, #51bbb7 95.34884%, #4683b0 95.34884%, #4683b0 97.67442%, #cc5727 97.67442%, #cc5727 100%)}
a {
    color: #e04f67;
    text-decoration: none;
}
a:hover, a:focus {
    color: #e04f67;
    text-decoration: underline;
}
.btn-primary {
    background-color: #55462e;
    border-color: #55462e;
    color: #fff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #e04f67;
    border-color: #55462e;
    color: #fff;
}
.banner::after, .banner::before {
    content: "";
    height: 18px;
    position: absolute;
    top: 100%;
    width: 50%;
    z-index: 1;
}
.banner::after {
    background: url("../img/shadow-bg.png") no-repeat scroll left top;
    left: 0;
}
.banner::before {
    background: url("../img/shadow-bg.png") no-repeat scroll right top;
    right: 0;
}
.banner {
    background: url("../img/banner_bg.png") no-repeat scroll center bottom #fff;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    margin-top: 10px;
    padding: 30px;
    position: relative;
}
.banner.colored.fix-logo {
    margin-top: -16px;
}
.banner.colored {
    background: url("../img/banner_bg_colored.png") no-repeat scroll center bottom #d47519;
    color: #fff;
}
.banner h4 {
    color: #e04f67;
    font-family: "humnst777_cn_btregular";
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
.banner.colored h4 {
    color: #fff;
}
.banner.colored h4 span {
    color: #ffc;
}
.banner p {
    margin: 0;
    padding: 0;
}
.banner a {
    position: absolute;
    right: 30px;
    top: 35%;
}
a.btn_1 {
    background: #51bce6;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    outline: medium none;
    padding: 7px 20px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}
a.btn_1.white, .btn_1.white {
    background: #fff;
    color: #55462e;
}
a.btn_1.white:hover, .btn_1.white a:hover {
    background: none repeat scroll 0 0 #333;
    color: #fff;
}
.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}
.dashboard .panel {
    border: 1px dashed #ccc;
    box-shadow: none;
    margin-bottom: 20px;
}

.reglnk {
    color: #d81b22;
}
.bold {
    font-weight: bold;
}
.top-searched {
    margin-top: 10px;
}
#selectCity .modal-footer {
    margin-top: 0;
}
#selectCity .tip-box {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px 6px 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
#selectCity .banner a {
    color: #fff;
    position: inherit;
    right: inherit;
    top: inherit;
}
#selectCity .banner {
    padding: 0;
}
#selectCity .banner.colored {
    background: url("../img/banner_bg_colored.png") no-repeat scroll center bottom #099898;
    color: #fff;
}
.logo {
    margin: 10px 0 0;
    text-align: center;
    z-index: 1;
}
@media (max-width: 768px) {
    .panel-heading .huge {
        clear: left;
        padding: 10px 0 0;
    }
    .panel-green .panel-footer {
        padding: 10px 5px;
    }
}
@media (max-width: 767px) {
	.banner a {
	    left: 0;
	    margin-bottom: 20px;
	    position: relative;
	    right: 0;
	    top: 15px;
	}
    .panel-heading img.thumbnails {
        display: block;
        float: none !important;
        margin: 0 auto;
        padding: 0 !important;
    }
    .panel-heading .huge {
        clear: left;
        padding: 10px 5px 0;
    }
    .form-ele label {
        margin: 10px 0 5px 0;
    }
}